@import "tailwindcss";

@theme {
  --color-primary-100: #0049af;
  --color-accent-100: #d7ff25;
  --color-bg-100: #afd3ff;
  --color-bg-200: #f8ffff;
  --color-bg-300: #c2c2c2;
}

@plugin 'tailwindcss-content-visibility';

.buttonNumber {
  @apply border-[1px] w-[76px] h-10 border-black rounded-full px-2 py-1 text-center text-black text-sm font-semibold;
}

.gift-item {
  @apply text-black text-xl font-semibold flex items-center gap-2;
}